VITE_API_BASE_URL=http://localhost:8000/api
VITE_STRIPE_PUBLIC_KEY=pk_test_51T2WUnLMrVGaDjowbmTkrCQBTEo99dFXmVWxMqFF45C9UvE9uGmwejFQM7wvABkPUirOhYdFSW6cT9VpPjkBJsA6009Ih0SQ9d
VITE_KONG_API_KEY=tk_front_test
